build
dist
*.pyc
*.pyo
*.pyd
*.pyw

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*

*.pycache/
*.pycache.*
*.pycache.*.*
*.pycache.*.*.*
*.pycache.*.*.*.*
*.pycache.*.*.*.*.*
*.pycache.*.*.*.*.*.*

